  <link rel="stylesheet" type="text/css" href="/assets/css/mystyle.css">
  <ul>
    <li><a class="active" href="/index/">Home</a></li>
    <li><a href="/snippets/">Snippets</a></li>
    <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Dropdown</a>
      <div class="dropdown-content">
        <a href="/page3A/">Page 3A</a>
        <a href="/page3B/">Page 3B</a>
        <a href="/page3C/">Page 3C</a>
      </div>
    </li>
    <li><a href="/about-us/">About</a></li>
  </ul><br/><hr/>
